<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Launcher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Launcher.My.MySettings>
            <setting name="username" serializeAs="String">
                <value>username</value>
            </setting>
            <setting name="versionnumber" serializeAs="String">
                <value />
            </setting>
            <setting name="rememberaccount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="debugmode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="memorypass" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="memory" serializeAs="String">
                <value>512M</value>
            </setting>
            <setting name="tagoptions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="runtimecatch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="latestcrash" serializeAs="String">
                <value />
            </setting>
            <setting name="MojangUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="MojangPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MojangName" serializeAs="String">
                <value />
            </setting>
            <setting name="UUID" serializeAs="String">
                <value>OFFLINE_MODE_UUID</value>
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value>OFFLINE_MODE_ACCESS</value>
            </setting>
            <setting name="UUIDMode" serializeAs="String">
                <value>False</value>
            </setting>
        </Launcher.My.MySettings>
    </userSettings>
</configuration>
